<p-card header="Sign In" class="signin-card">
  <form [formGroup]="signinForm" (ngSubmit)="onSignin()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="email">Email</label>
        <input id="email" type="text" pInputText formControlName="email" />
        <div
          *ngIf="
            signinForm.get('email')?.invalid && signinForm.get('email')?.touched
          "
          class="p-error"
        >
          <small *ngIf="signinForm.get('email')?.hasError('required')"
            >Email is required.</small
          >
          <small *ngIf="signinForm.get('email')?.hasError('email')"
            >Invalid email address.</small
          >
        </div>
      </div>

      <div class="p-field">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          pInputText
          formControlName="password"
        />
        <div
          *ngIf="
            signinForm.get('password')?.invalid &&
            signinForm.get('password')?.touched
          "
          class="p-error"
        >
          <small *ngIf="signinForm.get('password')?.hasError('required')"
            >Password is required.</small
          >
          <small *ngIf="signinForm.get('password')?.hasError('minlength')"
            >Password must be at least 6 characters.</small
          >
        </div>
      </div>

      <div class="p-field">
        <button
          type="submit"
          pButton
          label="Sign In"
          [disabled]="signinForm?.invalid"
        ></button>
      </div>
    </div>
  </form>
</p-card>
